@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-box {
    box-shadow:  0 3px 0 0 rgba(220, 231, 236, 1);
  }
}

:root {
  --blue-800: #153c4a;
  --blue-600: #7599a6;
  --blue-500: #1eade2;
  --grey-500: #edf1f2;
}

html,
body {
  height: 100% !important;
  color: #153c4a !important;
  font-family: "Roboto";
}
